body {
    font-family: 'Space Grotesk', sans-serif;
}


.btn-flat {
    border-radius: 0;
}

.products_section, .other_usage_container{
    background-color: #F7F5F2;
}

.usage_container{
    background-color: #2B2929;
}

.other_usage_container{

}

.text-white{
color: white !important;
}


.bg-black{
    background-color: black !important;
}

.accordion_image{
    background-color: #14C8EB;
}